<nav class="nav">
  <ul>
    <a href="/categories">All Categories</a>
  </ul>
  <ul>
    <a href="/categories/form">Add New Category</a>
  </ul>
  <ul>
    <a href="/products">All Products</a>
  </ul>
  <ul>
    <a href="/products/form">Add New Product</a>
  </ul>
</nav>
