<nav class="nav">
  <ul>
    <a href="/categories">Categories</a>
  </ul>
  <ul>
    <a href="/categories/form">Add Category</a>
  </ul>
  <ul>
    <a href="/products">Products</a>
  </ul>
  <ul>
    <a href="/products/form">Add Products</a>
  </ul>
</nav>
