<aside class="sidebar">
  <ul>
    <a href="">All Categories</a>
  </ul>
  <ul>
    <a href="">Add New Category</a>
  </ul>
  <ul>
    <a href="">All Products</a>
  </ul>
  <ul>
    <a href="">Add New Product</a>
  </ul>
</aside>
