<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <form action="" method="post">
      <label for="name">Category name:</label>
      <input id="name" name="name" value="<%= name %> " required type="text" />
      <br />
      <label for="desciption">Description:</label>
      <input
        id="name"
        name="description"
        value="<%= description %> "
        type="text"
      />
      <br />
      <button type="submit">Submit</button>
    </form>
    <% if(errors){ %>
    <ul>
      <% for (const err of errors){ %>
      <li><%= err.msg %></li>
      <% } %>
    </ul>
    <% } %>
  </body>
</html>
