<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <h1><%= title %></h1>

    <form action="" method="post"></form>
  </body>
</html>
