html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #fefae0;
}

a,
a:link,
a:visited {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  color: black;
}

ul > a:hover {
  color: #eee;
}

.header {
  text-align: center;
  background-color: #dda15e;
}

.nav {
  display: flex;
  justify-content: space-around;
  background-color: #dda15e;
  padding: 1rem 0;
}

h1 {
  font-size: 3rem;
  text-align: center;
  padding: 1.5rem 0;
}

h2 {
  font-size: 2.4rem;
  text-align: center;
  padding: 1.5rem 0;
}

.product-image {
  max-width: 60vw;
  width: 60rem;
  display: block;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 30rem);
}

.product-index-image {
  width: 100%;
}

.form {
  max-width: 60rem;
  width: 95%;
  margin: 3rem auto;
}

.form input {
  display: block;
  width: 100%;
  padding: 1rem 0;
  font-size: 1.8rem;
}

.form label {
  font-size: 1.8rem;
  display: block;
  padding: 1rem 0;
}

.form button {
  margin-top: 1.5rem;
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 1.8rem;
}

.form select {
  display: block;
  width: 100%;
  font-size: 1.8rem;
  padding: 1rem 0;
}
